<nav class="bg-blue-500 p-4">
    <div class="container mx-auto">
        <div class="flex justify-between items-center">
            <a href="/" class="flex items-center">
                <!-- Logo -->
                <img src="/images/cloud-logo.svg" alt="cloud logo with down arrow" class="h-16">
                <div>
                    <p class="text-white text-xl font-bold">Christopher James</p>
                    <p class="text-white text-sm">Cloud Engineer</p>
                </div>
            </a>


            <!-- Hamburger Menu - visible on small screens -->
            <button id="menuToggle" class="md:hidden p-2 hover:bg-blue-700">
                <img src="/images/hamburger.svg" alt="hamburger menu icon" class="h-6">
            </button>

            <!-- Navigation Links -->
            <div id="navLinks" class="hidden flex-col w-full bg-blue-500 fixed top-24 left-0 z-20
                                      md:flex md:flex-row md:w-auto md:static md:bg-transparent">
                <a href="/" class="text-white p-2 hover:bg-blue-700">Home</a>
                <a href="/about" class="text-white p-2 hover:bg-blue-700">About Me</a>
                <a href="/projects" class="text-white p-2 hover:bg-blue-700">Projects</a>
                <a href="/services" class="text-white p-2 hover:bg-blue-700">Services</a>
                <a href="/contact" class="text-white p-2 hover:bg-blue-700">Contact Me</a>
            </div>
        </div>
    </div>
</nav>