<header class="bg-blue-500 dark:bg-slate-900 flex justify-between items-center">
    <a href="/" class="flex items-center p-4">
        <!-- Logo -->
        <img src="/images/cloud-logo.svg" alt="cloud logo" aria-label="Illustration of a cloud with cogs inside and an arrow pointing up into the cloud" class="h-16">
        <div>
            <p class="text-white text-xl font-bold">Christopher James</p>
            <p class="text-white text-sm">Cloud Engineer</p>
        </div>
    </a>


    <!-- Hamburger Menu - visible on small screens -->
    <button id="menuToggle" aria-label="Open Navigation Menu" class="md:hidden p-2 hover:bg-blue-700 dark:hover:bg-slate-800">
        <img src="/images/hamburger.svg" aria-label="Hamburger menu icon" alt="hamburger menu icon" class="h-6">
    </button>

    <!-- Navigation Links -->
    <nav id="navLinks" aria-label="Primary Navigation" class="hidden text-gray-100 flex-col w-full bg-blue-500
                                   dark:bg-slate-900 fixed top-24 left-0 z-20 md:w-auto md:flex md:static">
        <ul class="md:flex md:items-end md:mx-3">
            <li>
                <% if (title === "Home") { %>
                    <p aria-label="Current page: Home" class="p-2 md:mx-1 md:py-5 lg:p-5 bg-blue-700 dark:bg-slate-800 font-bold md:rounded-xl lg:mx-3">Home</p>
                <% } else { %>
                    <a href="/" aria-label="Home Page" class="p-2 md:mx-1 md:py-5 lg:p-5 hover:bg-blue-700 dark:hover:bg-slate-800 md:rounded-xl lg:mx-3">Home</a>
                <% } %>
            </li>

            <li>
                <% if (title === "About") { %>
                    <p aria-label="Current page: About Me" class="p-2 md:mx-1 md:py-5 lg:p-5 bg-blue-700 dark:bg-slate-800 font-bold md:rounded-xl lg:mx-3">About Me</p>
                <% } else { %>
                    <a href="/about" aria-label="About Me Page" class="p-2 md:mx-1 md:py-5 lg:p-5 hover:bg-blue-700 dark:hover:bg-slate-800 md:rounded-xl lg:mx-3">About Me</a>
                <% } %>
            </li>

            <li>
                <% if (title === "Projects") { %>
                    <p aria-label="Current page: Projects" class="p-2 md:mx-1 md:py-5 lg:p-5 bg-blue-700 dark:bg-slate-800 font-bold md:rounded-xl lg:mx-3">Projects</p>
                <% } else { %>
                    <a href="/projects" aria-label="Projects Page" class="p-2 md:mx-1 md:py-5 lg:p-5 hover:bg-blue-700 dark:hover:bg-slate-800 md:rounded-xl lg:mx-3">Projects</a>
                <% } %>
            </li>

            <li>
                <% if (title === "Services") { %>
                    <p aria-label="Current page: Services" class="p-2 md:mx-1 md:py-5 lg:p-5 bg-blue-700 dark:bg-slate-800 font-bold md:rounded-xl lg:mx-3">Services</p>
                <% } else { %>
                    <a href="/services" aria-label="Services Page" class="p-2 md:mx-1 md:py-5 lg:p-5 hover:bg-blue-700 dark:hover:bg-slate-800 md:rounded-xl lg:mx-3">Services</a>
                <% } %>
            </li>

            <li>
                <% if (title === "Contact") { %>
                    <p aria-label="Current page: Contact Me" class="p-2 md:mx-1 md:py-5 lg:p-5 bg-blue-700 dark:bg-slate-800 font-bold md:rounded-xl lg:mx-3">Contact Me</p>
                <% } else { %>
                    <a href="/contact" aria-label="Contact Me Page" class="p-2 md:mx-1 md:py-5 lg:p-5 hover:bg-blue-700 dark:hover:bg-slate-800 md:rounded-xl lg:mx-3">Contact Me</a>
                <% } %>
            </li>
        </ul>
    </nav>
</header>