<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Christopher James - Aspiring Cloud Engineer">
        <meta name="keywords" content="Christopher James, Cloud Engineer, Portfolio">
        <meta http-equiv="refresh" content="3;url=/" />
        <title><%= title %> - Christopher James</title>
        <link rel="stylesheet" href="/stylesheets/tailwind.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script src="/javascripts/hamburger.js" defer></script>
    </head>
    <body class="h-screen flex flex-col bg-blue-50  dark:bg-slate-950">