/*
  styles.css
  Christopher James
  301252282
  2023-10-01
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.service-card {
  @apply bg-blue-100 p-6 rounded-xl flex items-center hover:bg-blue-200 hover:shadow-md transition duration-300 ease-in-out dark:bg-slate-700 dark:hover:bg-slate-800;
}
