<%- include('partials/refresh-head') %>
<%- include('partials/header') %>

<main aria-label="Main Content" class="container m-auto text-center p-6">
    <section class="p-6 bg-blue-200 dark:bg-slate-800 dark:text-gray-100 rounded-xl">
        <h1 class="text-3xl font-extrabold mb-4">Thank You!</h1>
        <p class="mb-4">Your message has been sent successfully. You will be redirected to the homepage shortly.</p>
    </section>
</main>

<%- include('partials/footer') %>